model: /home/ruslana/Projects/RaspberryYolo/RaspberryRoadSign/runs/rtsd_train/rtsd_yolo11n_pi_other50/weights/last.pt  # small помощнее но тоже должна подходить
data: datasets/rtsd_yolo/data.yaml  # Путь к файлу с описанием датасета

# Основные параметры 
epochs: 50  
batch: 24  
imgsz: 480  
device: 0  
workers: 8  
deterministic: false

optimizer: AdamW
lr0: 0.002 
lrf: 0.01   
momentum: 0.937
weight_decay: 0.0005

cos_lr: true  # уменьшение lr по косинусоиде
warmup_epochs: 3.0  # чтобы разогреть модель, от 0 до lr0 
warmup_momentum: 0.8
warmup_bias_lr: 0.1
close_mosaic: 10  # склеивает изображения, на полсдених 10 по одному будет 

# шаманим и немного сами меняем изобрвжения
# Цветовые сдвиги (для день/ночь, разная яркость)
hsv_h: 0.015  # Сдвиг Hue (оттенка) на ±1.5%
hsv_s: 0.7   # Сдвиг Saturation (насыщенности) на ±70%
hsv_v: 0.4 # Сдвиг Value (яркости) на ±40%

# Геометрические трансформации
degrees: 15.0  # Поворот изображения на ±15°
translate: 0.1  # Сдвиг изображения на ±10% от размера
scale: 0.5  # Масштабирование от 0.5x до 1.5x (±50%)
shear: 5.0 # Сдвиг (скос) на ±5°
perspective: 0.0001  # Перспективная трансформация (очень маленькая)

# Флипы
flipud: 0.0  # Вертикальный флип (вверх ногами знака нет)
fliplr: 0.5 # Горизонтальное отражение (вероятность 50%)

# Комбинирование и микширование
mixup: 0.1  # MixUp — смешивание двух изображений с прозрачностью (10% вероятность)
copy_paste: 0.0  # Copy-Paste — копирование объектов между изображениями

# веса
box: 7.5  # Вес Box Loss — отвечает за точность координат bounding box
cls: 0.5  # Вес Classification Loss — отвечает за правильность класса
dfl: 1.5  # Вес DFL Loss (Distribution Focal Loss) — улучшает качество границ bbox

project: runs/rtsd_train 
name: rtsd_yolo11n_pi   
exist_ok: false  # чтобы не перезаписать 

save: true  # Сохранять checkpoints
save_period: 5  #   - -1: только best.pt и last.pt

# Валидация на каждой эпохе
val: true
conf: 0.25  # Порог уверенности (confidence) для валидации
iou: 0.6  # Если два bbox перекрываются более чем на 60%, оставляем только лучший

cache: false  
plots: true  # Рисовать графики
verbose: true  # Подробный вывод в консоль
patience: 15  # Early Stopping — остановить обучение, если метрики не улучшаются N эпох.
pretrained: true # Использовать предобученные веса (на COCO)
amp: true  # Automatic Mixed Precision (ускорит обучение)
fraction: 1.0 # 0.18 = только 18% данных используется, понятно дело нужно 1.0
profile: false  
seed: 42  

label_smoothing: 0.01  # Помогает модели не быть "слишком уверенной" и лучше обобщать
dropout: 0.0 # Dropout — случайное "отключение" нейронов во время обучения